body{
    background: lighten($color: #333333, $amount: 50);
}
#formular{
    padding: 20px;
    margin-left: 40%;
    margin-right: 40%;
    background: lightgray;
    border: 2px solid #333333;
    border-radius: 15px;
    a{
        color: #333333;
        font-size:120%;
        text-decoration: none;
        margin: 10px;
        &:hover{
            color: lighten($color: #333333, $amount: 90);
        }
    }
    input{
        padding: 10px;
        border-radius: 10px;
        border: none;
    }
}
#poruka{
    background: lightgray;
    border: 2px solid #333333;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    a{
        font-weight: bold;
        text-decoration: none;
        color: crimson;
        background: white;
        padding: 5px;
        border: 1px solid crimson;
        margin: 15px;
        border-radius: 5px;
        &:hover{
        background: crimson;
        color: white;
        }
    }
}